USE [master]
GO
/****** Object:  Database [News]    Script Date: 2/18/2022 10:27:20 AM ******/
CREATE DATABASE [News]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VNP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VUTND\MSSQL\DATA\VNP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VNP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VUTND\MSSQL\DATA\VNP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [News].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [News]
GO
/****** Object:  Table [dbo].[ACCOUNT_USER]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_USER](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[IdACCUser] [char](10) NOT NULL,
 CONSTRAINT [PK_ACCOUNT_USER_1] PRIMARY KEY CLUSTERED 
(
	[IdACCUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[IdGroup] [char](10) NOT NULL,
	[TenGr] [nvarchar](50) NULL,
 CONSTRAINT [PK_GROUP] PRIMARY KEY CLUSTERED 
(
	[IdGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LK_WEB]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LK_WEB](
	[IdWeb] [char](10) NOT NULL,
	[TenWeb] [nvarchar](50) NULL,
	[UrlWeb] [nvarchar](50) NULL,
 CONSTRAINT [PK_LK_WEB] PRIMARY KEY CLUSTERED 
(
	[IdWeb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SU_KIEN]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SU_KIEN](
	[IdSK] [char](10) NOT NULL,
	[Mota] [nvarchar](50) NULL,
 CONSTRAINT [PK_SU_KIEN] PRIMARY KEY CLUSTERED 
(
	[IdSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[IdTL] [char](10) NOT NULL,
	[TenTL] [nvarchar](50) NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[IdTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIN_CHITIET]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIN_CHITIET](
	[IdT] [char](10) NOT NULL,
	[TieuDe] [nvarchar](50) NULL,
	[TomTat] [nvarchar](50) NULL,
	[UrlImage] [nvarchar](50) NULL,
	[IdSK] [char](10) NOT NULL,
	[ConTent] [nvarchar](max) NULL,
	[IdTL] [char](10) NOT NULL,
	[TrangThai] [bit] NULL,
 CONSTRAINT [PK_TIN_CHITIET] PRIMARY KEY CLUSTERED 
(
	[IdT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[IdUser] [char](10) NOT NULL,
	[FirtName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Date] [date] NULL,
	[Phone] [int] NULL,
	[IdACCUser] [char](10) NOT NULL,
	[IdGroup] [char](10) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Y_KIEN_BD]    Script Date: 2/18/2022 10:27:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Y_KIEN_BD](
	[IdYkien] [char](10) NOT NULL,
	[IdT] [char](10) NOT NULL,
	[Ngay] [date] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Y_KIEN_BD] PRIMARY KEY CLUSTERED 
(
	[IdYkien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TIN_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_TIN_CHITIET_SU_KIEN] FOREIGN KEY([IdSK])
REFERENCES [dbo].[SU_KIEN] ([IdSK])
GO
ALTER TABLE [dbo].[TIN_CHITIET] CHECK CONSTRAINT [FK_TIN_CHITIET_SU_KIEN]
GO
ALTER TABLE [dbo].[TIN_CHITIET]  WITH CHECK ADD  CONSTRAINT [FK_TIN_CHITIET_THE_LOAI] FOREIGN KEY([IdTL])
REFERENCES [dbo].[THE_LOAI] ([IdTL])
GO
ALTER TABLE [dbo].[TIN_CHITIET] CHECK CONSTRAINT [FK_TIN_CHITIET_THE_LOAI]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_ACCOUNT_USER] FOREIGN KEY([IdACCUser])
REFERENCES [dbo].[ACCOUNT_USER] ([IdACCUser])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_ACCOUNT_USER]
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD  CONSTRAINT [FK_USERS_GROUP] FOREIGN KEY([IdGroup])
REFERENCES [dbo].[GROUP] ([IdGroup])
GO
ALTER TABLE [dbo].[USERS] CHECK CONSTRAINT [FK_USERS_GROUP]
GO
ALTER TABLE [dbo].[Y_KIEN_BD]  WITH CHECK ADD  CONSTRAINT [FK_Y_KIEN_BD_TIN_CHITIET] FOREIGN KEY([IdT])
REFERENCES [dbo].[TIN_CHITIET] ([IdT])
GO
ALTER TABLE [dbo].[Y_KIEN_BD] CHECK CONSTRAINT [FK_Y_KIEN_BD_TIN_CHITIET]
GO
USE [master]
GO
